.gloginbtn {
    text-align: center;
    display: block;
    margin: 40px 20px;
}

.gloginbtn a.button {
    background: #fff;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    padding: 7px 15px;
}