{% extends 'products.html' %}
{% block content %}
			<!-- cart -->
<div class="goods_list">
	<div class="shopping-cart">
		<!-- Title -->
		<div class="title">My Cart</div>

		<!-- Product #1 -->
		<div class="item">
			<div class="image"><img src="../static/css/images/10002007001.png" alt="" /></div>
			<div class="description">
				<p class="product-name"> Whole Ultra-Filtered Milk</p>
				<p class="product-vol">52 oz</p>
			</div>

			<div class="quantity">
				<button class="minus-btn" type="button" name="button" onclick="updatenum(event)">-</button>
				<input type="text" name="name" value="1">
				<button class="plus-btn" type="button" name="button" onclick="updatenum(event)">+</button>
			</div>

			<div class="total-price" value="5.79">$5.79</div>
			<div class="cart-buttons">
				<i class="far fa-trash-alt" id="cart-delete" onclick="removefromcart(event)"></i>
			</div>

		</div>

  <!-- Product #2 -->
		<div class="item">
			<div class="image"><img src="../static/css/images/10002007002.png" alt="" /></div>
			<div class="description" >
				<p class="product-name">Fairlife Whole Ultra-Filtered Milk</p>
				<p class="product-vol">52 oz</p>
			</div>

			<div class="quantity">
				<button class="minus-btn" type="button" name="button" onclick="updatenum(event)">-</button>
				<input type="text" name="name" value="1">
				<button class="plus-btn" type="button" name="button" onclick="updatenum(event)">+</button>
			</div>

			<div class="total-price" value="5.79">$5.79</div>
			<div class="cart-buttons">
				<i class="far fa-trash-alt" id="cart-delete" onclick="removefromcart(event)"></i>
			</div>
		</div>

  <!-- Product #3 -->

	</div>

	<div class="totals">
		<div class="title">Total</div>
		<div class="totals-item">
			<label>Subtotal</label>
			<div class="totals-value" id="cart-subtotal">$0</div>
		</div>
		<div class="totals-item">
			<label>Tax</label>
			<div class="totals-value" id="cart-tax">$0</div>
		</div>
		<div class="totals-item">
			<label>Shipping</label>
			<div class="totals-value" id="cart-shipping">$0</div>
		</div>
		<div class="final-price">
			<label>Total</label>
			<div class="totals-value" id="cart-total">$0</div>
		</div>
	</div>

	<button class="checkout">CHECKOUT</button>
</div>
{% endblock %}