<!DOCTYPE HTML>
<html>
	<head>
		<title>Moo Dairy</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/main.css">
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			{% block header %}
			<nav class="navbar fixed-top navbar-expand-lg bg-light navbar-light">
				<a class="navbar-brand" href="index.html">
					<img src="../static/css/images/logo.png" alt="">
				</a>
				<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
					<ul class="nav navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="index.html">Home</a>
						</li>

						<li class="nav-item" id="category">
							<a class="nav-link" href="#">Product</a>
							<ul>
            					<li><a class="dropdown-item" href="products.html">View All</a></li>
            					<li><a class="dropdown-item" href="#">Milk</a></li>
								<li><a class="dropdown-item" href="#">Yogurt</a></li>
								<li><a class="dropdown-item" href="#">Cheese</a></li>
								<li><a class="dropdown-item" href="#">Cream</a></li>
								<li><a class="dropdown-item" href="#">Butter</a></li>
        					</ul>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="about">About</a>
						</li>

						<li class="nav-item">
							<a class="nav-link">
								<form class="form-inline" id="form-search" action="/search-result" method="POST">
									<input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
									<button class="fas fa-search" id="search-button" form="form-search" type="submit"></button>
								</form>
							</a>
						</li>

						<li class="nav-item">
                            {% if getToken() %}
                            <a class="nav-link" href={{ url_for("cart", token = getToken()) }}>
                                <button class="fas fa-shopping-cart" id="cart"></button>
                                <span class="badge badge-warning" id="lblCartCount">0</span>
                            </a>
                            {% else %}
                            <a class="nav-link">
                                <button class="fas fa-shopping-cart" id="cart"  onclick="force_login(event)"></button>
                                <span class="badge badge-warning" id="lblCartCount">0</span>
                            </a>
                            {% endif %}
						</li>

						<li class="nav-item">
							<a class="nav-link" href="login.html">
								<button id="user" class="fas fa-user"></button>
							</a>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link" href="#" id="navbarDropdown-pro" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									{% if getFirstName()!="" %}
									{{"Hi, "+getFirstName()}}
									{% endif %}
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="profile.html">Account Setting</a>
								<a class="dropdown-item" href="profile.html">Order History</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Log Out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			{% endblock %}
			<!-- Banner -->
			{% block content %}
				<section id="banner">
					<p>We work to preserve the ability to pass down the farm to the next generation -- the best definition of sustainability</p><br />
					<p align="right">Moo Dairy</p>
				</section>
			{% endblock %}
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.github.com/" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: Moo Dairy</li>
					</ul>
				</footer>

		</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/jquery-ui-1.12.1/jquery-ui.js"></script>
	<script src="../static/js/sweetalert2/dist/sweetalert2.all.min.js"></script>
	<script src="../static/js/jquery.zoom.js"></script>
	<script src="../static/js/jquery.zoom.min.js"></script>
	<script src="../static/js/jquery.fly.js"></script>
	<script src="../static/js/jquery.fly.min.js"></script>
	<script src="../static/js/main.js"></script>
	</body>
</html>