{% extends "index.html" %}
{% block content %}
    <div class="contact-section">
        <h2>Get in Touch</h2>
        <p>Please fill out the quick form and we will be in touch with lightening speed.</p>

        <form class="contact-form" action="/">
            <input type="text"class="contact-form-text"placeholder="Name"><br>
            <input type="email"class="contact-form-text"placeholder="your email address"><br>
            <textarea class="contact-form-text"placeholder=Message></textarea><br>
            
            <input type="SUBMIT"class="contact-form-but" value="SUBMIT">

        </form>
    </div>
{% endblock %}