<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Login</h1>
    <form action="/login-result" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="enter email"/><br/>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="enter username"/><br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="enter password"/><br/>
<!--        <input type="password" id="password" name="password" placeholder="enter password"/>-->
        <button type="submit">login</button>

    </form>
</body>
</html>