{% extends "Products.html" %}
{% block content %}
    {{ super() }}
    <div class="pop-layer" id="pop-layer"></div>
			<div class="pop-box" id="pop-box">
				<img class="product-detail-pic" id="product-detail-pic"/>
				<a class="fas fa-search-plus" id="zoom-icon" onclick="imgShow(event)"></a>
				<p class="product-detail-name" id="product-name"></p>
				<p class="product-detail-vol" id="product-vol"></p>
				<p class="product-detail-price" id="product-price"></p>
				<p class="product-detail-quantity">Quantity:</p>
				<div class="count-addtocart">
					<SELECT class="select-num" id="select-num">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</SELECT>
					<button class="addtocart" onclick="PopaddCart(event)">+ Add to cart</button>
				</div>
				<i class="fas fa-times" id="close" onclick="popwindow(event)" ></i>
			</div>
    {{valueOutput[0]}}
<!--    <table border="1">-->
<!--        <thead>-->
<!--            <tr>-->
<!--                {% for temp in headerOutput%}-->
<!--                    <th>{{temp}}</th>-->
<!--                {% endfor %}-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            <tr>-->
<!--                {% for temp in valueOutput %}-->
<!--                    <th>{{temp}}</th>-->
<!--                {% endfor %}-->
<!--            </tr>-->
<!--        </tbody>-->
<!--        </thead>-->
<!--    </table>-->
{% endblock %}
