<!DOCTYPE HTML>
<html>
	<head>
		<title>Moo Dairy</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body class="landing is-preload">
		<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
		<script src="../static/js/jquery.fly.js"></script>
		<script src="../static/js/jquery.fly.min.js"></script>
		<script src="../static/js/cart.js"></script>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
<!-- 					<div class="logo_container"> -->
					<h1><a href="index.html"><img src="../static/css/images/logo.png" alt=""><span></span></a></h1>
		<!-- 			</div> -->
					<nav id="nav">
						<ul>
                            <li><a href="index.html">Home</a></li>
							<li><a href="products.html">Product</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#" class="fas fa-search"></a></li>
							<input type="text" class="input" placeholder="Search..">
							<li><a href="#" class="fas fa-shopping-cart" id="cart"></a></li>
							<li><a href="login.html" class="fas fa-user"></a></li>
						</ul>
					</nav>
				</header>

			<!-- Products -->
			<div class="goods_list">
				<div class="grid-container">
					<div class="card">
						<img class="product-pic" src="../static/css/images/milk1.png" alt="milk" style="width:100%">
						<p class="price">$3.79</p>
						<p class="product-name">Organic Valley 2% Reduced Fat Milk</p>
						<p class="product-vol">32 oz</p>
						<button onclick="addCart(event)">+</button>
					</div>
					<div class="card">
						<img class="product-pic" src="../static/css/images/milk2.png" alt="milk" style="width:100%">
						<p class="price">$5.79</p>
						<p class="product-name">Maple Hill Organic Whole Milk</p>
						<p class="product-vol">0.5 gal</p>
						<button onclick="addCart(event)">+</button>
					</div>
					<div class="card">
						<img class="product-pic" src="../static/css/images/milk3.png" alt="milk" style="width:100%">
						<p class="price">$6.89</p>
						<p class="product-name">2% Reduced Fat Organic Ultra-Filtered Milk</p>
						<p class="product-vol">56 oz</p>
						<button onclick="addCart(event)">+</button>
					</div>
					<div class="card">
						<img class="product-pic" src="../static/css/images/milk4.png" alt="milk" style="width:100%">
						<p class="price">$6.89</p>
						<p class="product-name">Horizon Organic DHA Omega-3 Vitamin D Organic Whole Milk</p>
						<p class="product-vol">64 fl oz</p>
						<button onclick="addCart(event)">+</button>
					</div>
					<div class="card">
						<img class="product-pic" src="../static/css/images/milk5.png" alt="milk" style="width:100%">
						<p class="price">$6.39</p>
						<p class="product-name">Stonyfield® Organic Low Fat Milk</p>
						<p class="product-vol">0.5 gal</p>
						<button onclick="addCart(event)">+</button>
					</div>
					<div class="card">
						<img class="product-pic" src="../static/css/images/milk6.png" alt="milk" style="width:100%">
						<p class="price">$5.79</p>
						<p class="product-name">Fairlife Whole Ultra-Filtered Milk</p>
						<p class="product-vol">52 oz</p>
						<button onclick="addCart(event)">+</button>
					</div>
					<div class="card">
						<img class="product-pic" src="../static/css/images/milk7.png" alt="milk" style="width:100%">
						<p class="price">$4.59</p>
						<p class="product-name">Simply Smart One Percent Lowfat Milk</p>
						<p class="product-vol">1 gal</p>
						<button onclick="addCart(event)">+</button>
					</div>
					<div class="card">
						<img class="product-pic" src="../static/css/images/milk8.png" alt="milk" style="width:100%">
						<p class="price">$4.59</p>
						<p class="product-name">Silk Less Sugar Original Almondmilk</p>
						<p class="product-vol">64 fl oz</p>
						<button onclick="addCart(event)">+</button>
					</div>
				</div>
			</div>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: Moo Dairy</li>
					</ul>
				</footer>
		</div>
	</body>
</html>

