{% extends "index.html" %}
{% block content %}
	<div class="goods_list">
		<div class="grid-container">
			{% for for temp in valueOutput %}
			<div class="card">
				<a href="/product1" class="product-pic"><img src="../static/css/images/milk1.png" alt="milk" style="width:100%"></a>
				<p class="price">$3.79</p>
				<p class="product-name">Organic Valley 2% Reduced Fat Milk</p>
				<p class="product-vol">32 oz</p>
				<button onclick="addCart(event)">+</button>
			</div>
			{% endfor %}
<!--			<div class="card">-->
<!--				<a href="/product3" class="product-pic"><img src="../static/css/images/milk2.png" alt="milk" style="width:100%"></a>-->
<!--				<p class="price">$5.79</p>-->
<!--				<p class="product-name">Maple Hill Organic Whole Milk</p>-->
<!--				<p class="product-vol">0.5 gal</p>-->
<!--				<button onclick="addCart(event)" type="submit">+</button>-->
<!--			</div>-->
<!--			<div class="card">-->
<!--				<a href="/product4" class="product-pic"><img src="../static/css/images/milk3.png" alt="milk" style="width:100%"></a>-->
<!--				<input type="hidden" value="10002007004" name="receive">-->
<!--				<p class="price">$6.89</p>-->
<!--				<p class="product-name">2% Reduced Fat Organic Ultra-Filtered Milk</p>-->
<!--				<p class="product-vol">56 oz</p>-->
<!--				<button onclick="addCart(event)" type="submit">+</button>-->
<!--			</div>-->
<!--			<div class="card">-->
<!--				<a href="/product2" class="product-pic"><img src="../static/css/images/milk4.png" alt="milk" style="width:100%"></a>-->
<!--				<p class="price">$6.89</p>-->
<!--				<p class="product-name">Horizon Organic DHA Omega-3 Vitamin D Organic Whole Milk</p>-->
<!--				<p class="product-vol">64 fl oz</p>-->
<!--				<button onclick="addCart(event)" type="submit">+</button>-->
<!--			</div>-->
<!--			<div class="card">-->
<!--				<a href="/product5" class="product-pic"><img src="../static/css/images/milk5.png" alt="milk" style="width:100%"></a>-->
<!--				<p class="price">$6.39</p>-->
<!--				<p class="product-name">Stonyfield® Organic Low Fat Milk</p>-->
<!--				<p class="product-vol">0.5 gal</p>-->
<!--				<button onclick="addCart(event)" type="submit">+</button>-->
<!--			</div>-->
<!--			<div class="card">-->
<!--				<a href="/product8" class="product-pic"><img src="../static/css/images/milk6.png" alt="milk" style="width:100%"></a>-->
<!--				<p class="price">$5.79</p>-->
<!--				<p class="product-name">Fairlife Whole Ultra-Filtered Milk</p>-->
<!--				<p class="product-vol">52 oz</p>-->
<!--				<button onclick="addCart(event)" type="submit">+</button>-->
<!--			</div>-->
<!--			</form>-->
<!--			<div class="card">-->
<!--				<a href="/product7" class="product-pic"><img src="../static/css/images/milk7.png" alt="milk" style="width:100%"></a>-->
<!--				<p class="price">$4.59</p>-->
<!--				<p class="product-name">Simply Smart One Percent Lowfat Milk</p>-->
<!--				<p class="product-vol">1 gal</p>-->
<!--				<button onclick="addCart(event)" type="submit">+</button>-->
<!--			</div>-->
<!--			<div class="card">-->
<!--				<a href="/product6" class="product-pic"><img src="../static/css/images/milk8.png" alt="milk" style="width:100%"></a>-->
<!--				<p class="price">$4.59</p>-->
<!--				<p class="product-name">Silk Less Sugar Original Almondmilk</p>-->
<!--				<p class="product-vol">64 fl oz</p>-->
<!--				<button onclick="addCart(event)" type="submit">+</button>-->
<!--			</div>-->
		</div>
	</div>
{% endblock %}


