<!DOCTYPE HTML>
<html>
	<head>
		<title>Dairy Farm</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
<!-- 					<div class="logo_container"> -->
					<h1><a href="index.html"><img src="css/images/logo.png" alt=""><span></span></a></h1>
		<!-- 			</div> -->
					<nav id="nav">
						<ul>
                            <li><a href="index.html">Home</a></li>
							<li><a href="Products.html">Product</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#" class="fas fa-search"></a></li>
							<input type="text" class="input" placeholder="Search..">
							<li><a href="#" class="fas fa-shopping-cart"></a></li>
							<li><a href="#" class="fas fa-user"></a></li>
						</ul>
					</nav>
				</header>

			<!-- Products -->
            <div class="grid-container">
				<div class="card">
                    <img src="css/images/milk1.jpg" alt="milk" style="width:100%">
                    <h1>Horizon Organic Whole Milk</h1>
                    <p class="price">$11.98</p>
                    <p>We're proud to work with farm families all around the country to bring...</p>
                    <p><button>Add to Cart</button></p>
                </div>
            <div class="card">
                    <img src="css/images/milk2.jpeg" alt="milk" style="width:100%">
                    <h1>Maple Hill Shelf Stable Whole Milk</h1>
                    <p class="price">$20.00</p>
                    <p>MILK YOU CAN FEEL GOOD ABOUT: We are the original 100% grass-fed or...</p>
                    <p><button>Add to Cart</button></p>
                </div>
            <div class="card">
                    <img src="css/images/milk3.jpg" alt="milk" style="width:100%">
                    <h1>Chameleon Organic Cold-Brew Maple Oat Milk</h1>
                    <p class="price">$20.00</p>
                    <p>Please enjoy our Cold-Brew made with organic Oats home grown in...</p>
                    <p><button>Add to Cart</button></p>
                </div>
            </div>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: Dairy Farm</li>
					</ul>
				</footer>
		</div>
	</body>
</html>

