{% extends "index.html" %}
{% block name %}
<li><p id="test"></p></li>
{% endblock %}
{% block content %}
	<div class="goods_list">
		<div class="grid-container">
			{% block goods_list %}
			{% for _id, _info in product_dict.items() %}
			<div class="card">
                {% set product_src = "../static/css/images/" + _id + ".png" %}
				<img class="product-pic" src={{ product_src }} alt="milk" style="width:100%" onclick="popwindow(event)"></a>
				<p class="price">{{ _info['Product Price'] }}</p>
				<p class="product-name">{{ _info['Product Name'] }}</p>
				<p class="product-vol">{{ _info['Weight'] }}</p>
				<button onclick="addCart(event)">+</button>
			</div>
			{% endfor %}
			{% endblock %}
		</div>
	</div>
<!--pop-up window-->
	<div class="pop-layer" id="pop-layer"></div>
	<div class="pop-box" id="pop-box">
		<img class="product-detail-pic" id="product-detail-pic"/>
		<a class="fas fa-search-plus" id="zoom-icon" onclick="imgShow(event)"></a>
		<p class="product-detail-name" id="product-name"></p>
		<p class="product-detail-vol" id="product-vol"></p>
		<p class="product-detail-price" id="product-price"></p>
		<p class="product-detail-quantity">Quantity:</p>
		<div class="count-addtocart">
			<SELECT class="select-num" id="select-num">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</SELECT>
			<button class="addtocart" onclick="PopaddCart(event)">+ Add to cart</button>
		</div>
		<i class="fas fa-times" id="close" onclick="popwindow(event)" ></i>
	</div>
{% endblock %}


