#shopping-container{
	/*margin-top: 3.25em;*/
	background-image: url("images/banner.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	display: flex;

	padding-top: 6em;
}

#shopping-info, #shopping-receipt{
	background: rgba(255,255,255,0.6);
	border-radius: 15px 15px 0px 0px;
	min-height: 512px;
	margin-left: 1em;
	padding: 10px;
}

#shopping-info{
	flex: 0 0 75%;
	padding-top: 10px;
}

#shopping-receipt{
	flex: 1;
	margin-right: 1em;
}

.shopping-subContainers{
	background: rgba(255,255,255,0.5);
	border-radius: 5px;
	/*min-height: 1em;*/
	margin-bottom: 25px;
}

.shopping-subContainerContent{
	display: flex;
	padding: 10px;
}

.shopping-subContainerContent div{
	align-self: center;
}

.shopping-subContainerContent > div:nth-child(2){
	padding-left: 10px;
}

.shopping-text{
	font-size: 15px;
	font-weight: 400;
}

#address-container div{
	
}

.dropDownBtn{
	margin-left: auto;
	margin-right: 15px;
	cursor: pointer;
	transition: transform 0.2s;
}

.dropDownBtn.selected{
	transform: rotate(180deg);
}

.dropDownContent{
	display: block;
	background: rgba(0,0,0,0.3);
	border-radius: 0px 0px 5px 5px;
	height: 0px;
	min-height: 0px;
	padding: 0px;
	transition: all 0.2s;
	overflow: hidden;
}

.dropDownContent.opened{
	height: auto;
	min-height: 100px;
	padding: 10px;
}

#placeOrderBtn{
	width: 100%;
	text-align: center;
	color: white;
	border-radius: 5px;
	background-color: #519D5F;
	cursor: pointer;
	font-size: 24px;
	font-weight: 600;
	padding: 5px;
	user-select: none;
}



.shopping-total-containers > div{
	display: inline-block;
}

.shopping-total-containers .text,.cost-text{
	font-weight: 400;
}

.shopping-total-containers .cost-text{
	float: right;
	margin-left: auto;
}